<div class="logo-box" *ngIf="!multiple" [ngClass]="{'flex-direction-class':mediaType === 'video'}">
    <div *ngIf="url == null" class="logo" style="background-size: contain"
         [ngStyle]="{'background-image': 'url(' + imgURL + ')', 'width': width}"></div>
    <div *ngIf="mediaType === 'image'">
      <input #file type="file" accept='image/*'

             (change)="preview($event)" style="display: none"/>
      <button (click)="openFileDialog(file)" class="upload-btn hcp-linked-button-text"
              [ngClass]="{'required-image-field': required}">{{imageTextTitle}} </button>

    </div>

    <div *ngIf="mediaType === 'video'">
      <video *ngIf="url" [src]="url" height="200" controls></video>

      <input #file type="file" class="video-input" accept='.mp4, .mpg, .avi' id="video-upload{{id}}"
             (change)="preview($event)"/>
      <div style="display: flex;">
        <span id="fileName{{id}}" class="video-title"></span>
        <button (click)="openFileDialog(file)" class="upload-btn hcp-linked-button-text"
                [ngClass]="{'required-image-field': required}">{{imageTextTitle}} </button>
      </div>

    </div>
  </div>

  <div class="logo-box" *ngIf="multiple">
    <div *ngFor='let url of images; let i =index;'>
      <div class="image-container">
        <span class="material-icons close-image-icon" style="top: -5px;" (click)="removeImage(i)">
          highlight_off
          </span>
        <div class="logo" style="margin-right: 12px;background-size: contain"
             [ngStyle]="{'background-image': 'url(' + url + ')'}"></div>

      </div>
    </div>
    <input #file type="file" accept='image/*'
           multiple
           (change)="preview($event)" style="display: none"/>
    <button (click)="openFileDialog(file)" class="upload-btn hcp-linked-button-text"
            [ngClass]="{'required-image-field': required}"
    >+ {{imageTextTitle}} </button>
  </div>
