<div class="hcp-main__header">
    <h1 class="hcp-title-h1 hcp-icon hcp-icon--users"> Brand</h1>
    <div class="button-header-container">
          <span class="material-icons custom-material-icons" (click)="load()">
            refresh
          </span>
      <a routerLink="new" class="hcp-button hcp-button--contained hcp-button-subtitle"> + Add Brand</a>
    </div>
  </div>
  <div >
    <div class="hcp-main__block">
      <div class="hcp-common-speciality-table">
        <div class="hcp-table-box hcp-table-box--fullscreen">
          <div class="hcp-form__search">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
              <input
                #searchInput
                formControlName="searchText"
                placeholder="Search"
                [attr.disabled]="(dataSource.loading$ | async) ? '' : null">
            </form>
          </div>
          <div class="hcp-table-block hcp-scrolled">
          <div class="hcp-main__block">
            <div class="hcp-table-container">
              <mat-table class="hcp-table" [dataSource]="dataSource" matSort matSortDisableClear
                         (matSortChange)="sortData($event)">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="hcp-body-text-highlight">ID</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div class="cell-content-container">
                      <div class="name-class">{{row.id}}</div>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="hcp-body-text-highlight">English Name</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div class="cell-content-container with-image">
                  <span *ngIf="!row.media"
                        class="hcp-common-financial-table-campaigns-admin__logo i-circle">B</span>
                      <img *ngIf="row.media" class="hcp-common-financial-table-campaigns-admin__logo"
                           src="{{row.media.url}}" alt="speciality">
                      <p class="croping-text">   {{row.generic_name}}</p>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="arabicName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="hcp-body-text-highlight">Arabic Name</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div class="cell-content-container">
                      <div class="name-class">{{row.name}}</div>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="advertiser">
                  <mat-header-cell *matHeaderCellDef>
                    <span class="hcp-body-text-highlight">Advertiser</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div class="cell-content-container">
                      <div class="name-class">{{row.advertiser ? (row.advertiser.generic_name ? row.advertiser.generic_name  : row.advertiser.name)  : ''}}</div>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>
                    <span class="hcp-body-text-highlight">Actions</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="hcp-actions-col">
                    <div class="hcp-tooltip">
                      <a [routerLink]="['edit', row.id]" target="_blank"
                              class="hcp-button-edit hcp-icon hcp-icon--middle hcp-icon--edit"></a>
                      <div class="hcp-tooltip__top">
                        <p class="hcp-tips">edit</p>
                        <i></i>
                      </div>
                    </div>
                    <div class="hcp-tooltip">
                      <button (click)="openDeleteDialog(row)"
                              class="hcp-button-delete hcp-icon hcp-icon--delete"></button>
                      <div class="hcp-tooltip__top">
                        <p class="hcp-tips">delete</p>
                        <i></i>
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"
                         [hidden]="(dataSource.loading$ | async)"></mat-row>

              </mat-table>

              <div class="hcp-table-loading" *ngIf="(dataSource.loading$ | async)">
                <mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner>
              </div>

              <div class="hcp-no-data-in-table"
                   *ngIf="! (dataSource.loading$ | async) && (dataSource.total$ | async) == 0">
                <div class="hcp-no-data-in-table__container">
                  <div class="hcp-no-data-in-table__icon"></div>
                  <div class="hcp-no-data-in-table__discription">
                    <span class="hcp-body-text-highlight">There is  no data </span>
                    <p class="hcp-body-text">If you want to create a new Brand, click “+ Add Brand” button</p>
                  </div>
                </div>
              </div>

              <mat-paginator [length]="dataSource.total$ | async" [pageSizeOptions]="[5, 10, 20, 40]"
                             [pageSize]="10" showFirstLastButtons></mat-paginator>

            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
