// colors
$hcp-background-color: #E5E5E5;
$hcp-navbar-background-color: #39377C;
$hcp-selected-color: #6861AC;
$hcp-title-color: #454C5C;
$hcp-text-color: #717889;
$hcp-secondary-text-color: #A0A7B9;
$hcp-border-color: #A0A7B9;
$hcp-focus-border-color: #D1D8EB;
$hcp-button-color: #1BBD9F;
$hcp-error-color: #F46271;
$hcp-dark-background-color: #F5F5FA;
$hcp-scrollbar-track-color: rgba(152, 142, 222, .1);
$hcp-scrollbar-thumb-color: #988EDE;
$hcp-table-border-color: #F4F7FD;
$hcp-clickable-text-color: #988EDE;
$hcp-pink-card-color: #F46271;
$hcp-yellow-card-color: #FFB300;
$hcp-green-card-color: #15B86D;
$gradient: linear-gradient(89.11deg, rgba(27, 189, 159, 0.15) 0.14%, rgba(255, 255, 255, 0) 95.84%);
$reverse-gradient: linear-gradient(89.11deg, rgba(255, 255, 255, 0) 0.14%, rgba(27, 189, 159, 0.15) 95.84%);
$border-radius: 5px;