.anchor-type-menu-padding {
    padding: 0 16px;
}

.quantity-left-minus, .quantity-right-plus {
    background-color: #3b3b3b;
    border: none;
    height: 23px;
    margin-top: 1px;
    color: #fff;
    width: 24px;
    text-align: center;
    padding: 0;
}

.quantity-left-minus {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #050505;
}

.quantity-right-plus {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #050505;
}

.custom-input{
    height: 25px;
    margin: 0 0 8px;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: #3b3b3b;
    border-color: transparent;
    font-size: 13px;
    color: white;
    text-align: center;
}