$hcp-background-color: #E5E5E5;
$hcp-navbar-background-color: #39377C;
$hcp-selected-color: #6861AC;
$hcp-title-color: #454C5C;
$hcp-text-color: #717889;
$hcp-secondary-text-color: #A0A7B9;
$hcp-border-color: #A0A7B9;
$hcp-focus-border-color: #D1D8EB;
$hcp-button-color: #1BBD9F;
$hcp-error-color: #F46271;
$hcp-dark-background-color: #F5F5FA;
$hcp-scrollbar-track-color: rgba(152, 142, 222, .1);
$hcp-scrollbar-thumb-color: #988EDE;
$hcp-table-border-color: #F4F7FD;
$hcp-clickable-text-color: #988EDE;
$hcp-pink-card-color: #F46271;
$hcp-yellow-card-color: #FFB300;
$hcp-green-card-color: #15B86D;
$gradient: linear-gradient(89.11deg, rgba(27, 189, 159, 0.15) 0.14%, rgba(255, 255, 255, 0) 95.84%);
$reverse-gradient: linear-gradient(89.11deg, rgba(255, 255, 255, 0) 0.14%, rgba(27, 189, 159, 0.15) 95.84%);
$border-radius: 5px;

::ng-deep {

    .cdk-overlay-container .cdk-overlay-pane .pane{
     max-height: 200px;
     position: absolute;
     top: 45px;
     left: 4px;
   }
    ::-webkit-scrollbar {
     -webkit-appearance: none;
     width: 6px;
   }
    .mat-select-content{
     background: $hcp-dark-background-color;
   }
    .mat-option-text {
     color: $hcp-text-color;
   }
   /* Track */
    ::-webkit-scrollbar-track {
     background: $hcp-scrollbar-track-color;
     box-shadow: inset 0 0 5px grey;
     border-radius: 10px;
   }

   /* Handle */
    ::-webkit-scrollbar-thumb {
     background: $hcp-scrollbar-thumb-color;
     border-radius: $border-radius;
     box-shadow: 0 0 1px rgba(255,255,255,.5);
     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
   }

   /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
     background-color: rgba(0,0,0,.5);
   }
    ::-webkit-scrollbar-corner {
     background-color: transparent;
   }

    .mat-option{
     font-size: .875rem;
     background: $hcp-dark-background-color !important;
     font-weight: 400;
     line-height: 19px;
      &:hover,  &:active,  &:focus{
       background-color: rgba(104,97,172,.15)!important;
       cursor: pointer;
     }
   }
    .pane .mat-option.mat-selected:not(.mat-option-multiple) {
     background-color: rgba(104,97,172,.15)!important;
   }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper{
     margin-bottom: 0;
   }
    .mat-form-field.mat-form-field-type-mat-select{
     width: 100%;
     border: 1px solid #a0a7b9;
     background-color: transparent;
     box-sizing: border-box;
     border-radius: 5px;
     padding: 0 .625rem;
     color: $hcp-text-color;
      &.mat-form-field-disabled{
       border: .03125rem dashed #a0a7b9;
     }
   }
    .mat-form-field-underline{
     display: none;
   }
    .mat-form-field-appearance-legacy .mat-form-field-infix{
     border-top: none;
     padding: .75em 0;
   }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper{
     padding-bottom: 0;
   }
    .mat-select-value-text{
     color: $hcp-text-color;
   }

   //select arrow
    .mat-select-arrow-wrapper{
     &:after{
       content: "";
       width: 2.5rem;
       height: 2.51rem;
       border-radius: 0 5px 5px 0;
       border: none;
       position: absolute;
       right: -10px;
       left: auto;
       bottom: -11px;
       background-color: rgba(113,120,137,.15);
       background-repeat: no-repeat;
       background-position: center center;
       background-image: url(/assets/images/icons/hcp-round-keyboard-arrow-down.svg);
       cursor: pointer;
     }
   }
    .mat-select-arrow{
     color: transparent!important;
   }

   //multiple select checkbox
     .mat-primary .mat-pseudo-checkbox-checked{
     background: #6861ac;
   }

 }
